li {
  list-style-type: none;
}
.BlogItemsList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading12 {
  font-family: 'roboto';
  font-size: 16px;
  color: black;
  font-weight: 600;
}
