.userInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile {
  height: 60px;
  width: 60px;
}
.heading {
  font-family: 'roboto';
  font-size: 10px;
  color: black;
}
.Description {
  font-family: 'roboto';
  font-size: 10px;
  color: #616e7c;
}
